*~

# Linux
# ignore local configuration
config.*
config/*
Makefile
# Makefile.in
*.m4
depcomp
install-sh
ltmain.sh

# ignore help scripts/files
*.patch
configure
libtool
stamp-h1
config_auto.h
Makefile.in
*.log

# ignore compilation files
build*
/bin
/cmake-*
.deps
.dirstamp
.vscode/*
/.libs
*/.libs/*
*/*/.deps/*
*/*/.libs/*
*.lo
*.la
*.o
*.Plo
*.a
winbin/*
*cache*/
sword.pc
sword.spec
missing
sword.conf

# ignore tests and programs
compile
test-driver
tests/bibliotest
tests/casttest
tests/ciphertest
tests/complzss
tests/compnone
tests/compzip
tests/configtest
tests/filtertest
tests/httptest
tests/icutest
tests/indextest
tests/introtest
tests/keycast
tests/keytest
tests/ldtest
tests/lextest
tests/listtest
tests/localetest
tests/mgrtest
tests/modtest
tests/osistest
tests/parsekey
tests/rawldidxtest
tests/romantest
tests/striptest
tests/swaptest
tests/swbuftest
tests/testblocks
tests/tlitmgrtest
tests/translittest
tests/utf8norm
tests/versekeytest
tests/versemgrtest
tests/vtreekeytest
tests/webiftest
tests/xmltest
utilities/addgb
utilities/addld
utilities/addvs
utilities/diatheke/diatheke
utilities/emptyvss
utilities/gbfidx
utilities/genbookutil
utilities/imp2gbs
utilities/imp2ld
utilities/imp2vs
utilities/installmgr
utilities/lexdump
utilities/mkfastmod
utilities/mod2imp
utilities/mod2osis
utilities/mod2vpl
utilities/mod2zmod
utilities/modwrite
utilities/osis2mod
utilities/step2vpl
utilities/stepdump
utilities/tei2mod
utilities/treeidxutil
utilities/vpl2mod
utilities/vs2osisref
utilities/vs2osisreftxt
utilities/xml2gbs
examples/cmdline/listoptions
examples/cmdline/lookup
examples/cmdline/outplain
examples/cmdline/outrender
examples/cmdline/outvplskeleton
examples/cmdline/search
examples/cmdline/stripaccents
examples/cmdline/threaded_search
examples/cmdline/verserangeparse
examples/tasks/findHeadings
examples/tasks/listExtantModuleBookNames
examples/tasks/parallelBibles
examples/tasks/simpleChapter
examples/tasks/simpleRange
examples/tasks/simpleVerseLookup